.mat-mdc-dialog-actions {
  justify-content: flex-end;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.color-text {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: #EE0033;
}