<ng-template #dialogTemplate>
  <h2 mat-dialog-title>Tải lên danh sách vai trò</h2>
  <mat-divider></mat-divider>
  <mat-dialog-content>
    <div class="flex-between">
      <div class="font-bold">Tải lên</div>
      <div class="color-text font-bold" (click)="downloadTemplate()">
        <img src="assets/icons/file-search.svg" alt="Upload icon" width="24" height="24" />
        File mẫu
      </div>
    </div>
    <div class="upload-wrapper">
      <button mat-stroked-button color="primary" (click)="fileInput.click()">Chọn file</button>
      <input #fileInput type="file" hidden accept=".xlsx,.xls" (change)="onFileSelected($event)" />

      <div class="file-name" *ngIf="selectedFile">
        {{ selectedFile.name }}
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close (click)="closeDialog()">Hủy</button>
    <button mat-raised-button color="primary" (click)="uploadFile()">Tải lên</button>
  </mat-dialog-actions>
</ng-template>
