<ng-template #dialogTemplate>
  <h2 mat-dialog-title>
    {{ record() ? (record()?.edit ? 'Chỉnh sửa' : 'Xem chi tiết') : 'Thêm mới' }} vai trò
  </h2>
  <mat-dialog-content>
    <form [formGroup]="roleForm">
      <mat-label>Tên *</mat-label>
      <mat-form-field>
        <input matInput formControlName="name" placeholder="Nhập tên" maxlength="100" />
        <mat-error *ngIf="roleForm.get('name')?.invalid">
          {{ getErrorMessage('name') }}
        </mat-error>
      </mat-form-field>
      <mat-label>Mô tả</mat-label>
      <mat-form-field>
        <textarea
          matInput
          formControlName="description"
          placeholder="Nhập mô tả"
          maxlength="255"
        ></textarea>
        <mat-error *ngIf="roleForm.get('description')?.invalid">
          {{ getErrorMessage('description') }}
        </mat-error>
      </mat-form-field>
      <mat-label>Trạng thái *</mat-label>
      <mat-form-field>
        <mat-select formControlName="action" placeholder="Chọn trạng thái">
          <mat-option *ngFor="let action of actions" [value]="action.value">
            {{ action.label }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="roleForm.get('action')?.invalid">
          {{ getErrorMessage('action') }}
        </mat-error>
      </mat-form-field>
      <mat-label>Quyền thao tác *</mat-label>
      <mat-form-field>
        <mat-select formControlName="permissions" placeholder="Chọn các quyền thao tác" multiple>
          <mat-option *ngFor="let listPermission of listPermissions" [value]="listPermission.value">
            {{ listPermission.label }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="roleForm.get('permissions')?.invalid">
          {{ getErrorMessage('permissions') }}
        </mat-error>
      </mat-form-field>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close (click)="closeDialog()">
      {{ record()?.edit === false ? 'Đóng' : 'Hủy' }}
    </button>
    <button
      *ngIf="!record() || record()?.edit === true"
      mat-raised-button
      color="primary"
      (click)="onSubmit()"
      [disabled]="roleForm.invalid"
    >
      {{ record() ? 'Cập nhật' : 'Thêm mới' }}
    </button>
  </mat-dialog-actions>
</ng-template>
