<ng-template #dialogTemplate>
  <h2 mat-dialog-title>
    {{ record() ? (record()?.edit ? 'Chỉnh sửa' : 'Xem chi tiết') : 'Thêm mới' }} vai trò
  </h2>
  <mat-dialog-content>
    <form [formGroup]="roleForm">
      <div class="margin-top">
        <app-base-input
          maxlength="100"
          formControlName="name"
          placeholder="Nhập tên vai trò"
          label="Tên vai trò"
        />
        <mat-error *ngIf="roleForm.get('name')?.invalid">
          {{ getErrorMessage('name') }}
        </mat-error>
      </div>
      <div class="margin-top">
        <app-base-input
          maxlength="255"
          formControlName="description"
          placeholder="Nhập mô tả"
          label="Mô tả"
        />
        <mat-error *ngIf="roleForm.get('description')?.invalid">
          {{ getErrorMessage('description') }}
        </mat-error>
      </div>
      <div class="margin-top">
        <app-base-select
          formControlName="action"
          placeholder="Chọn trạng thái"
          label="Trạng thái"
          [options]="actions"
        />
        <mat-error *ngIf="roleForm.get('action')?.invalid">
          {{ getErrorMessage('action') }}
        </mat-error>
      </div>
      <div class="margin-top">
        <app-base-select
          formControlName="permissions"
          placeholder="Chọn các quyền thao tác"
          label="Quyền thao tác"
          [options]="listPermissions"
          [multiple]="true"
          [allClear]="true"
        />
        <mat-error *ngIf="roleForm.get('permissions')?.invalid">
          {{ getErrorMessage('permissions') }}
        </mat-error>
      </div>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close (click)="closeDialog()">
      {{ record()?.edit === false ? 'Đóng' : 'Hủy' }}
    </button>
    <button
      *ngIf="!record() || record()?.edit === true"
      mat-raised-button
      color="primary"
      (click)="onSubmit()"
      [disabled]="roleForm.invalid"
    >
      {{ record() ? 'Cập nhật' : 'Thêm mới' }}
    </button>
  </mat-dialog-actions>
</ng-template>
