.table-wrapper {
  width: 100%;
  overflow: hidden;
}

.table-scroll {
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
}

.fixed-table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
}

.fixed-col {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

::ng-deep .mat-mdc-paginator-page-size-label {
  display: none;
}

.table-wrapper {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 56px;
  background: rgba(255, 255, 255, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

::ng-deep .mat-mdc-menu-item {
  min-height: 40px !important;
  height: 40px !important;
  line-height: 40px !important;
  padding: 0 16px !important;
  font-size: 14px !important;
}

::ng-deep .mat-mdc-menu-item span {
  font-size: 14px !important;
  font-weight: 400 !important;
  color: #333 !important;
}

::ng-deep .mat-mdc-menu-content {
  padding: 0 !important;
}

::ng-deep .mat-mdc-menu-item .mat-icon {
  margin-right: 10px !important;
  font-size: 20px !important;
  width: 20px !important;
  height: 20px !important;
  vertical-align: middle !important;
}