.table-wrapper {
  width: 100%;
  overflow: hidden;
}

.table-scroll {
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
}

.fixed-table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
}

.fixed-col {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

::ng-deep .mat-mdc-paginator-page-size-label {
  display: none;
}

.table-wrapper {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 56px;
  background: rgba(255, 255, 255, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
