.header {
    display: flex;
    height: 65px;
    padding: 16px 24px;
    align-items: center;
}

.header-title {
    display: flex;
    gap: 20px;
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
}

.center-text {
    text-align: center;
    line-height: 24px;
}