<div class="container">
  <div>Khu vực của phần filter</div>
  <div class="action">
    <button matButton class="btn-new" (click)="onExport()">
      <img src="assets/icons/download-cloud.svg" alt="Download icon" width="24" height="24" />
      Tải xuống
    </button>
    <button matButton class="btn-new" (click)="onOpenImport()">
      <img src="assets/icons/upload-cloud.svg" alt="Upload icon" width="24" height="24" />
      Tải lên
    </button>
    <button matButton class="btn-new btn-red" (click)="onCreate()">Tạo mới</button>
  </div>
</div>
