<div class="container">
  <form [formGroup]="roleFormFilter" class="container-filter">
    <div class="grid-container">
      <div>
        <app-base-input
          maxlength="100"
          formControlName="name"
          placeholder="Nhập tên vai trò"
          [matAutocomplete]="auto"
          label="Tên vai trò"
        >
        </app-base-input>
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let item of suggestions$ | async" [value]="item">
            {{ item }}
          </mat-option>
        </mat-autocomplete>
      </div>
      <div>
        <app-base-select
          formControlName="action"
          placeholder="Chọn trạng thái"
          label="Trạng thái"
          [options]="actions"
        />
      </div>
      <div>
        <app-base-select
          formControlName="permissions"
          placeholder="Chọn các quyền thao tác"
          label="Quyền thao tác"
          [options]="listPermissions"
          [multiple]="true"
          [clearable]="true"
        />
      </div>
    </div>
    <div class="right-button">
      <button matButton class="btn-new btn-red" (click)="onFilter()">Tìm kiếm</button>
    </div>
  </form>
  <div class="action">
    <button *ngIf="listSelect.length > 0" matButton class="btn-new btn-red" (click)="onDelete()">
      Xóa
    </button>
    <button matButton class="btn-new" (click)="onExport()">
      <img src="assets/icons/download-cloud.svg" alt="Download icon" width="24" height="24" />
      Tải xuống
    </button>
    <button matButton class="btn-new" (click)="onOpenImport()">
      <img src="assets/icons/upload-cloud.svg" alt="Upload icon" width="24" height="24" />
      Tải lên
    </button>
    <button matButton class="btn-new btn-red" (click)="onCreate()">Tạo mới</button>
  </div>
</div>
